<div class="row">
  <div class="col-xs-5 top">Click on any board in gallery to change current</div>
  <div class="col-xs-3 top"><span>Current color:</span><span class="pallete-tile" style="background-color:{{shared.codeColor}}; margin-top: 0px"> </span></div>
  <div class="col-xs-2"> 
    <button type="button" class="btn btn-success btn-block btn-responsive text-break" id="clear" ng-click="$ctrl.clearBoard()">Clear<span class="hidden-sm hidden-xs"> board</span></button>
  </div>
  <div class="col-xs-2"> 
    <button type="button" class="btn btn-warning btn-block btn-responsive text-break" id="save" ng-click="$ctrl.saveBoard()">Save<span class="hidden-sm hidden-xs"> the board</span></button>
  </div>
</div>

<div class="row" align="center">
  <div class="playground">
    <div ng-repeat="r in range track by $index" ng-init="rowIndex = $index">
      <span ng-repeat="c in range track by $index" ng-init="colIndex = $index" class="board-tile" style="background-color:{{sharedTemplate.boardTemplate.board[rowIndex][colIndex]}}"> </span>
    </div>
  </div>
  
  <div class="playground">
    <div ng-repeat="r in range track by $index" ng-init="rowIndex = $index">
      <span ng-repeat="c in range track by $index" ng-init="colIndex = $index" class="board-tile" style="background-color:{{board[rowIndex][colIndex]}}" ng-click="$ctrl.setColor(shared.codeColor, rowIndex, colIndex)"> </span>
    </div>
  </div>
</div>

<!--     <img class="img-thumbnail img-responsive" ng-src="{{sharedTemplate.boardTemplate.picture}}" alt="{{sharedTemplate.boardTemplate.name}}"/> -->



