/* app css stylesheet */
.top > * {
  vertical-align: top;
}

.container-fluid {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin: 0px 20px 0px 20px;
}

.title {
  font-family: 'Chango', cursive;
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  margin-top: 20px;
}

.row {
  padding-top: 15px;
}

#pallete {
  border: 3px solid #808080;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}

.playground {
  padding: 5px;
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
}

.pallete-tile {
  width: 50px;
  height: 50px;
  border: 1px solid #808080;
  border-radius: 5px;
  box-shadow: 0 0 10px #808080;
  padding: 0px;
  display: inline-block;
  margin: 10px;
  vertical-align: bottom;
}
/*change color of image on mouse over and mouse out*/
.pallete-tile:hover {
  box-shadow: 0 0 20px #000000;
  cursor: pointer;
}

.board-tile {
  width: 30px;
  height: 30px;
  border: .1px solid #808080;
  padding: 0px;
  display: inline-block;
  margin: 0px;
  vertical-align: bottom;
}

.board-tile:hover {
  cursor: pointer;
}

.btn {
  font-size: 20px;
}

/* avoid blue border around button */
.btn:focus,.btn:active {    
   outline: none !important;
}

.g-item {
  display: inline-block;
  width: 195px;
  border: 1px solid #808080;
  border-radius: 5px;
  box-shadow: 0 0 10px #808080;
  margin: 15px 15px 15px 15px;
  padding: 0px;
} 

/*change color of image on mouse over and mouse out*/
.g-item:hover {
  box-shadow: 0 0 20px #000000;
  cursor: pointer;
}

@media (max-width: 400px) {
  .title {
    font-size: 90%;
  }

  .container-fluid {
    font-size: 100%;
  }

  .pallete-tile {
    width: 30px;
    height: 30px;
  }

  .board-tile {
    width: 15px;
    height: 15px;
  }

  .playground {
    margin-left: 0px;
    margin-right: 0px;
  }

  .btn {
    padding:2px 4px;
    font-size:70%;
    line-height: 1;
    width: 100%;
    border-radius:3px;
  }

  .g-item {
    margin: 10px 0px 10px 0px;
    width: 100px;
  }

}

@media (min-width: 401px) and (max-width: 768px) {
  .title {
    font-size: 100%;
  }

  .container-fluid {
    font-size: 100%;
  }

  .pallete-tile {
    width: 40px;
    height: 40px;
  }

  .board-tile {
    width: 20px;
    height: 20px;
  }

  .btn {
    padding:2px 4px;
    font-size:80%;
    line-height: 1;
    width: 100%;
    border-radius:3px;
  }

  .g-item {
    margin: 10px 0px 10px 0px;
    width: 150px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .title {
    font-size: 200%;
  }

  .btn {
    padding:4px 9px;
    font-size:90%;
    width: 100%;
    line-height: 1.2;
  }
}

/*text-break*/
.text-break {
  white-space: normal;
}

